body {
  margin: 0;
  font-family: Arial Black, sans-serif;
  background: url("photo1.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: red;
  -webkit-text-stroke: 2px black;
  text-stroke: 1px black;
}

.subtitle {
  opacity: 0.8;
}

p{
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}
.game-area {
  position: relative;
  width: 100%;
  height: 70vh;
}

/* Сердечки */
.heart {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.heart:hover {
  transform: scale(1.3);
}

.heart:nth-child(1) { top: 20%; left: 15%; }
.heart:nth-child(2) { top: 60%; left: 70%; }
.heart:nth-child(3) { top: 40%; left: 40%; }
.heart:nth-child(4) { top: 70%; left: 20%; }
.heart:nth-child(5) { top: 25%; left: 75%; }

/* Затемнение */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Карточки */
.card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* Письмо */
.letter {
  background: #fff8e7;
  color: black;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
}

button {
  margin-top: 15px;
  padding: 8px 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ❄️ СНЕГ */
.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 14px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}

#musicBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.8);
  z-index: 2000;
}
